body {
  font-family: "Open Sans", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
}
.error {
  width: 100%;
  color: #ee4217;
  font-size: 12px;
  font-style: italic;
  padding-left: 12px;
  border: none;
  outline: none;
}

.results {
  width: 100%;
  color: #1d1b1b;
  font-size: 14px;
  font-style: italic;
  padding-left: 12px;
  border: none;
  outline: none;
}

header {
  width: 100%;
  padding: 15px 0px 0px;
  float: left;
  background: #212121;
}
.mobile-togle {
  display: none;
}
.text {
  color: #202726;
  font-size: 14px;
  font-style: italic;
  min-width: fit-content;
}
.logo img {
  border-right: 1px solid #bdfef2;
  padding-right: 12px;
  width: 220px;
}
button {
  border: none;
  background: none;
}
.logo {
  margin: 30px 0px;
  padding: 0px;
}

.inputContainer i {
  position: absolute;
  margin-top: 20px;
}
.inputContainer-large {
  width: 25%;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.inputContainer {
  width: 20%;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
  opacity: 20%;
}

.field-small {
  width: 50%;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  border-radius: 10px;
  background: #e8e8e8;
  border: none;
}
.Field {
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  border-radius: 10px;
  background: #e8e8e8;
  border: none;
}
.Button {
  width: 15%;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  background-color: black;
  border: none;
  min-width: 85px;
  margin-right: 10px;
}

header {
  background: white;
  grid-column: 2 / 13;
}

.content-right.col-md-4 p {
  font-size: 12px;
  padding: 0px 104px;
  font-style: normal;
}

/***footer**/
.border {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: linear-gradient(to right, #f05a28 0, #e80a89 100%);
}
.footer-p {
  line-height: 35px;
  font-size: 16px;
}
.mobileImg {
  display: none;
}

footer {
  background-color: #f2f2f2;
  position: relative;
  height: 320px;
  height: 350px;
  max-height: 360px;
  min-width: 320px;
  overflow: hidden;
}

.fixed {
  width: 100%;
  padding: 15px 0px 0px;
  float: left;
  background: #212121;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

/*new css*/
@media (max-width: 1200px) and (min-width: 1024px) {
  .navbar-nav > li a {
    padding: 15px 6px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .collapse.in {
    display: block !important;
  }
  .mobile-togle {
    display: block;
  }
  .right_section {
    display: none;
  }

  .inner-content {
    top: 65px;
  }
  .logo img {
    width: 100%;
    border-right: none;
  }
  header {
    padding: 0px;
  }
  .text {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .middle {
    margin-left: 32%;
  }
  .content-right {
    width: 768px !important;
  }
}
@media (min-width: 425px) and (max-width: 425px) {
  .content-right {
    width: 425px !important;
  }
}
@media (max-width: 768px) {
  .links {
    width: 80%;
    padding-bottom: 35px;
    padding-top: 35px;
  }

  .content-right {
    background: #0b4970b3;
    padding: 12px;
    width: 100%;
    margin-top: 60px;
  }
  .inner-content {
    top: 50px;
  }
  header {
    padding: 0px;
  }
  .text {
    display: none;
  }

  .content-right.col-md-4 p {
    padding: 15px;
  }
  nav.navbar {
    margin-left: 0px;
  }
  .mobile-togle {
    display: block;
  }
  .dvider {
    display: none;
  }
  footer {
    height: auto;
  }

  .logo {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 1200px) {
  .mobileImg {
    display: block;
  }
  .desktop {
    display: none;
  }
}
@media (max-width: 991px) {
  footer {
    max-height: 100%;
    height: 100%;
  }
}
@media (max-width: 325px) {
  .search1 i {
    position: absolute;
    left: 0;
  }
}
